@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    background-color: #19171A;
}



/* Barra lateral */

#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #282729;
    height: 100vh;
    border-radius: 0px 18px 18px 0px;
    position: relative;
    transition: all .5s;
    min-width: 82px;
    z-index: 2;
}

#sidebar_content {
    padding: 12px;
}

#user {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
}

#user_avatar {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 20px;
}

#user_infos {
    display: flex;
    flex-direction: column;
}

#user_infos span:last-child {
    color: #6b6b6b;
    font-size: 12px;
}

#side_items {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
}

.side-item {
    border-radius: 8px;
    padding: 14px;
    cursor: pointer;
}


.side-item a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #584254;
}


.side-item a i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}

#logout {
    border-top: 1px solid #e3e9f7;
    padding: 12px;
}

#logout_btn {
    border: none;
    padding: 12px;
    font-size: 14px;
    display: flex;
    gap: 20px;
    align-items: center;
    border-radius: 8px;
    text-align: start;
    cursor: pointer;
    background-color: transparent;
}

#open_btn {
    position: absolute;
    top: 30px;
    right: -10px;
    background-color: #584254;
    color:#1e1e1f;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
}

#open_btn_icon {
    transition: transform .3s ease;
}

.open-sidebar #open_btn_icon {
    transform: rotate(180deg);
}

.item-description {
    width: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    transition: width .6s;
    height: 0px;
}

#sidebar.open-sidebar {
    min-width: 15%;
}

#sidebar.open-sidebar .item-description {
    width: 150px;
    height: auto;
}

#sidebar.open-sidebar .side-item a {
    justify-content: flex-start;
    gap: 14px;
}
/*main*/
.assunto{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #7b5c6c;
}
.paragrafo{
    text-align: start;
    margin: 0 350px 0;
    font-size: 20px;
    color: #614252;
}
/* Rodapé */

footer {
    font-size: small;
    background-color: #282729;
    padding: 0 0 25px 0;
    color: #614252;
}

#rodape {
    display: flex;
    align-items: center;
    margin: 10px;
    justify-content: space-between;
}

#siga {
    margin: 0 0 0 10px;
    font-size: 10px;
}

.follow {
    margin-top: 10px;
}

.follow > p {
    margin: 0 0 0 20px;
    font-size: 12px;
}

.follow_item {
    display: flex;
    justify-content: center;
    gap: 1px;
}

.inst {
    font-size: 20px;
    margin-left: 10px;
    width: 30px;
    height: auto;
}

.tik {
    font-size: 20px;
    margin-left: 10px;
    width: 30px;
    height: auto;
}

/* Telas menores/iguais a 1390px */

@media (max-width: 1390px) {
    .fixed #conteinernav {
        padding-top: 95px;
        gap: 3px;
    }

    .fixed #conteinernav {
        padding-top: 100px;
    }

    #conteinernav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 7px;
        padding: 12px;
    }

    .descricao {
        font-size: small;
        margin: 10px 0 10px 0;
        text-align: center;
    }

    #botao1, #botao2, #botao3 {
        text-align: center;
        flex-wrap: wrap;
        font-size: 18px;
        padding: 5px;
        width: 50%;
    }

    #lista {
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 5px;
        margin: 0;
    }

    .navegacao {
        padding: 5px;
        margin: 0;
        flex: 1 1;
    }

    main {
        display: flex;
        margin: 0;
    }

    #nomesite {
        font-size: 40px;
        margin: 0 10px 0 10px;
    }

    .continuacao {
        width: 100%;
    }

    .paragrafo {
        flex: 5px;
        margin: 2.50px;
    }
}
